@media screen and (max-width: 1400px) {
    .App {
        max-width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        flex-direction: column;

    }

    .sidebar {
        & .sidebar__nav {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin: 0;
        }

        &__nav--link {
            flex-direction: column;

            a {
                font-size: 1.6rem
            }
        }

        .footer {
            display: none;
        }
    }

    .hotel-details {
        flex-direction: column;

        .hotel-name-stars {
            align-self: flex-start;
        }

        .hotel-location-rate {
            align-self: flex-end;
        }
    }
}

@media screen and (max-width: 800px) {
    .App {
        min-width: 100%;
    }
    html {
      
        font-size: 50%;
    }


}

@media screen and (max-width: 660px) {
    .about_and_rating .ameneties .list {
        display: block;

    }
}
@media screen and (max-width: 500px) {
    #header{
        display: flex;
        flex-wrap: wrap;
        padding: 1%;
    }
   .search{
    order: 1;
    flex: 0 0 100%;

   }
   .about_and_rating{
    grid-template-columns: 1fr;
    
   }
}
@media screen and (max-width: 440px) {
 .sidebar .sidebar__nav{
    grid-template-columns: 1fr 1fr;
 }
}

